{% extends 'movies/index.twig' %}

{% block content %}
    <!-- Services Section -->
    <section class="page-section" id="services">
        <div class="container">
            <h2 class="text-center mt-0">At Your Service</h2>
            <hr class="divider my-4">
            {% for row in movies|batch(3) %}
                <div class="card-deck">
                    {% for movie in row %}
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="{{ movie.image }}" height="300" width="300" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ movie.title }}</h5>
                                <p class="card-text">{{ movie.synopsis|resume }}</p>
                                <p class="text-muted">{{ movie.year }}</p>
                                <a href="/movies/{{ movie.id }}" class="btn btn-primary">Découvrir</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}